# First model submission

In [1]:
import numpy as np
import pandas as pd

In [2]:
!pwd

/home/andria/Documents/git_repos/kaggle_competitions/Machine-Learning-from-Disaster

In [3]:
train_data = pd.read_csv('titanic/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv('titanic/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
print(train_data.shape)
print(test_data.shape)

(891, 12)
(418, 11)

In [6]:
# check the % of women who survived
women = train_data.loc[train_data.Sex == 'female']['Survived']
rate_women = sum(women) / len(women)
print('% women who survived:', rate_women)

% women who survived: 0.7420382165605095

In [10]:
# same for men
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)
print('% of men who survived:', rate_men)

% of men who survived: 0.18890814558058924

In [11]:
train_data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [12]:
train_data.Age.isnull().sum()

177

30.0

In [13]:
train_data['age'] = train_data['Age'].fillna(np.ceil(train_data.Age.mean()))
test_data['age'] = test_data['Age'].fillna(np.ceil(test_data.Age.mean()))
#train_data.head()

In [14]:
train_data['age_bin'] = pd.cut(train_data['age'], [0, 10, 20, 30, 40, 50, 60, 70, 80],\
                               labels=['0-10', '10-20', '20-30', '30-40', '40-50', '50-60',\
                                       '60-70', '70-80'])
test_data['age_bin'] = pd.cut(test_data['age'], [0, 10, 20, 30, 40, 50, 60, 70, 80],\
                               labels=['0-10', '10-20', '20-30', '30-40', '40-50', '50-60',\
                                       '60-70', '70-80'])

In [15]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'age', 'age_bin'],
      dtype='object')

In [16]:
from sklearn.ensemble import RandomForestClassifier

#target variable
y = train_data['Survived']

# Create a list of the feature column's names
features = ['Pclass', 'SibSp', 'Sex', 'Parch', 'age']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

# Create a random forest Classifier
clf = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

# Train the Classifier to take the training features and learn how they relate
# to the training y 
clf.fit(X, y)

# Apply the Classifier we trained to the test data
predictions  = clf.predict(X_test)

In [17]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('mysubmission.csv', index=False)

In [18]:
submission = pd.read_csv('mysubmission.csv')
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         0
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]